body{
    margin: 0;
    padding: 0;
    border: 0;
}

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #cff1ef;
    z-index: 1;
}

.header-two {
    background-color: #27496d;
}

.top-header {
    padding: 1%;
    margin: 0% 10%;
    padding-top: 0;
    padding-bottom: 0;
}

.bottom-header {
    color: white;
    text-align: center;
    margin: 0% 10%;
}

.logo-img {
    height: 43px;
    width: 72px;
}

.search-bar {
    width: 40%;
    border: 1px solid black;
    margin: 1% 0% 0% 2%;
    padding: 3px;
    border-radius: 3px;
}

.search-icon {
    position: absolute;
    padding-top: 1%;
    display: inline-block;
}

.cart-text {
    position: relative;
    padding-top: 1%;
    float: right;
}

.cart-icon {
    position: relative;
    padding-top: 1%;
    float: right;
}

.cart-icon:hover {
    cursor: pointer;
}

.search-icon:hover {
    cursor: pointer;
}

.login-btn {
    float: right;   
    margin: 1% 0% 0% 2%;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.body {
    padding-bottom: 2000px;
}